.header-style-1 .header-nav {
    background-color: #229ac8;
}

.main-header .top-search-holder .contact-row .icon {
    color: #229ac8;
}
a {
    color: #229ac8;
}

.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket .total-price {
    color: #229ac8;
}

top-bar .cnt-block ul li a .caret, b.caret {
    color: #229ac8 !important;
}

.top-bar .cnt-account ul > li a:hover,
.dropdown-menu>li>a:hover {
    color: #229ac8 !important;
}

.sidebar .side-menu nav .nav > li a:hover,
.sidebar .side-menu nav .nav > li a:focus {
    color: #229ac8;
}
.sidebar .side-menu nav .nav > li > a:hover,
.sidebar .side-menu nav .nav > li > a:focus {
    background: #fff;
    border-left: 5px solid #229ac8;
}

.sidebar .side-menu nav .nav > li a:hover:after,
.sidebar .side-menu nav .nav > li a:focus:after {
    color: #229ac8;
}

.btn-primary:hover{
    background-color: #229ac8;
}

.sidebar .sidebar-widget .advertisement .owl-controls .owl-pagination .owl-page.active span {
    background: #229ac8;
}

.product-tag .item.active,
.product-tag .item:hover,
.product-tag .item:focus {
    background: #229ac8;
}

.footer .links-social .social-icons a:hover,
.footer .links-social .social-icons a:focus,
.footer .links-social .social-icons a.active
{
    background: #229ac8;
}
.latest-tweet .re-twitter .comment .icon .fa-stack-2x,
.footer .contact-information .media .icon .fa-stack-2x,
.footer .contact-information .media .icon .fa-stack-2x,
.footer .contact-information .media .icon .fa-stack-2x{
    color: #229ac8;
}
.latest-tweet .re-twitter .comment a, .copyright-bar .copyright a {
    color: #229ac8;
}
.product .product-info .product-price .price {
    color: #229ac8;
}
.hot-deals .product-info .product-price .price,
.shopping-cart .cart-shopping-total table thead tr th .cart-grand-total {
    color: #229ac8;
}

.breadcrumb ul li.active {
    color: #229ac8;
}

.logo-slider .owl-controls .owl-prev:hover,
.logo-slider .owl-controls .owl-next:hover {
    background-color: #229ac8;
}


#owl-main .owl-pagination .owl-page span:hover {
    background: #229ac8 !important;
}
.sidebar .sidebar-widget .advertisement .item .caption .excerpt {
    color: #666666;
}

.item.offer2 {
    width: 50%;
    height: 60%;
}
.item.offer1 {
    width: 60%;
}

#owl-main:hover .owl-prev:hover, #owl-main .owl-next:hover {
    background-color: #229ac8 !important;
}

.contact-page .contact-info .contact-i {
    background-color: #229ac8 !important;
}

.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .price {
    color: #229ac8;
}

.top-bar .cnt-account ul > li a:active {
    color: #229ac8;
}

.category-carousel .item .caption .excerpt,
.filters-container .nav-tabs.nav-tab-box li.active a .icon,
.filters-container .nav-tabs.nav-tab-box li.active a .icon {
    color: #229ac8;
}
